.primary {
  padding: 4px 8px;
  border: 1px solid #51aef6;
  border-radius: 4px;
  color: #0b7ed5;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}