.inactive {
  border-width: 1px;
  border-style: solid;
  background-color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  border-color: #f09d93;
  color: #cf2e1c;
}