<div>
  <div>
    <app-billing-details-insurance></app-billing-details-insurance>
  <div>
  <div class="action-buttons">
    <button mat-stroked-button color="primary" *ngIf="$any(insurances).length < 3" mat-button (click)="addInsurance()">Add Insurance</button>
    <button mat-button mat-stroked-button color="primary" (click)="reset()">Reset</button>
    <button mat-button mat-stroked-button color="primary" (click)="clear()">Clear</button>
    <button mat-button mat-stroked-button color="primary" (click)="addInsurances()">Add Insurances</button>
    <button mat-button mat-stroked-button color="primary" (click)="submit()">Submit</button>
  </div>
</div>
